---
import { getContentsgarten } from '$functions/getContentsgarten'
import { EditorTextarea } from './editorTextarea'
import NotEditableReason from './notEditableReason.astro'

export interface Props {
  pageRef: string
  file: {
    path: string
    content: string
    revision?: string | undefined
  }
}

const { pageRef, file } = Astro.props

const wiki = getContentsgarten(Astro)
const editable = Astro.cookies.get('authgarten')?.value
  ? await wiki.getEditPermission.query({
      pageRef,
    })
  : {
      granted: false,
      reason: "You're not logged in",
    }

const gitHubUrl = `https://github.com/creatorsgarten/wiki/blob/main/wiki/${pageRef}.md`
---

<div class="-mx-6 max-w-6xl sm:mx-auto">
  <div class="px-6 pb-10">
    <h1 class="mb-2 text-3xl">
      Editing <span class="font-medium">{pageRef}</span>
    </h1>
    <div class="prose max-w-full">
      {
        editable.granted ? (
          <p>
            (The editor is quite janky, so please save your changes regularly!)
          </p>
        ) : (
          <NotEditableReason reason={editable.reason || 'Unknown error'} gitHubUrl={gitHubUrl} />
        )
      }
    </div>
    <form class="py-4" method="POST">
      <input type="hidden" name="pageRef" value={pageRef} />
      <input type="hidden" name="revision" value={file?.revision} />
      <EditorTextarea
        client:load
        editable={editable.granted}
        defaultValue={file?.content}
      />
      <div class="mt-2">
        <button
          class="rounded-md bg-[#1c1916] px-4 py-2 text-white disabled:cursor-not-allowed disabled:bg-neutral-600"
          type="submit"
          disabled={!editable.granted}>Save changes</button
        >
      </div>
    </form>
  </div>
</div>
