---
import { Picture } from '@astrojs/image/components';
import BaseLayout from '$layouts/base.astro';

import dayjs from 'dayjs';

import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const events = await getCollection('event');
  return events.map((event) => ({
    params: { slug: event.slug },
    props: event
  }));
}

type Props = CollectionEntry<'event'>;

const event = Astro.props;

const stringifyDate = (date: Date) => dayjs(event.data.date).format('D MMMM YYYY');
const { Content } = await event.render();
---

<BaseLayout title="">
  <div class="cg-container">
    <section class="flex flex-col w-full md:mb-4 md:flex-row">
      <Picture
        src={`/images/events/${event.slug}.png`}
        alt={event.data.name}
        aspectRatio={1}
        decoding="async"
        quality={85}
        widths={[600]}
        sizes=""
        formats={['jpg', 'webp', 'avif']}
        background="white"
      />
      <div class="mt-6 flex w-full flex-col justify-center md:mt-0">
        <h1 class="pb-2 text-2xl md:w-11/12 md:text-4xl lg:text-3xl">
          {event.data.name}
        </h1>
        <h4 class="font-normal">{event.data.location}</h4>
        <h4 class="font-normal">
          Date: {stringifyDate(event.data.date)}{
            event.data.endDate && ` - ${stringifyDate(event.data.endDate)}`
          }
        </h4>
        {event.data.site && (
          <h4 class="truncate font-normal">
            Website: <a href={event.data.site}>{event.data.site}</a>
          </h4>
        )}
        <h4 class="font-normal">
          By: {event.data.hosts.map((host) => <span class="pr-1">[{host}]</span>)}
        </h4>
      </div>
    </section>
    <article class="prose max-w-none mt-8">
      <Content />
    </article>
  </div>
</BaseLayout>
