---
import BaseLayout from '$layouts/base.astro'

import { Connections } from '$components/connections'
import Garden0 from '$components/dashboard/gardenZero/section.astro'
import IntegratedServices from '$components/dashboard/integratedServices.astro'
import JoinedEvents from '$components/dashboard/joinedEvents.astro'
import UserCard from '$components/dashboard/userCard.astro'
import Head from '$components/head.astro'

const { backend, user } = Astro.locals
if (!user) return Astro.redirect('/')

const joinedEvents = await backend.events.getJoinedEvents.query()
---

<Head title="Dashboard" />

<BaseLayout class="mx-auto max-w-7xl space-y-6 [&>*]:px-6">
  <UserCard user={user} />
  <Connections connections={user.connections} />
  <Garden0 />
  <JoinedEvents eventIds={joinedEvents} />
  <IntegratedServices />
  <section class="flex justify-center pt-4">
    <a
      href="/auth/logout"
      class="order rounded-md bg-rose-700 px-3 py-2 uppercase text-white"
      >Sign out</a
    >
  </section>
  <div class="pb-8 text-center text-black/50">
    Your user ID is <a
      href={`javascript:void navigator.clipboard.writeText('${user.sub}')`}
      >{user.sub}</a
    >
  </div>
</BaseLayout>
