---
import BaseLayout from '$layouts/base.astro'

import Head from '$components/head.astro'
import Garden0 from '$components/dashboard/gardenZero/section.astro'
import JoinedEvents from '$components/dashboard/joinedEvents.astro'
import { Connections } from '$components/connections'

import { getBackend } from '$functions/getBackend'

const authenticatedUser = await getBackend(
  Astro
).auth.getAuthenticatedUser.query()
if (!authenticatedUser) return Astro.redirect('/')

const joinedEvents = await getBackend(Astro).events.getJoinedEvents.query()
---

<Head title="Dashboard" />

<BaseLayout class="max-w-7xl mx-auto space-y-6 [&>*]:px-6">
  <section class="max-w-lg mx-auto">
    <div
      class="flex bg-white border border-neutral-300 rounded-2xl p-4 space-x-4"
    >
      <img
        src={authenticatedUser.avatar}
        class="w-24 h-24 rounded-full shrink-0"
      />
      <div class="py-2 pr-2 flex flex-col justify-center">
        <h1 class="font-medium text-lg leading-tight mb-1 md:mb-0">
          {authenticatedUser.name}
        </h1>
        <p>{authenticatedUser.email}</p>
      </div>
    </div>
  </section>
  <Connections user={authenticatedUser} />
  <Garden0 user={authenticatedUser} />
  <JoinedEvents eventIds={joinedEvents} />
  <section class="pt-4 flex justify-center">
    <a
      href="/auth/logout"
      class="text-white uppercase order px-3 py-2 rounded-md bg-rose-700"
      >Sign out</a
    >
  </section>
  <div class="pb-6"></div>
</BaseLayout>
