---
import CFImage from '$components/cfImage.astro'
import { getSocialPosts } from '$functions/getSocialPosts'
import SidebarSection from './section.astro'

export interface Props {
  eventId: string
}

const { socialPosts } = await getSocialPosts(Astro.props.eventId)
const postsWithImages = socialPosts.filter(post => post.picture)
---

{
  socialPosts.length > 0 && (
    <SidebarSection title="Social Posts">
      {postsWithImages.length > 0 && (
        <ul class="mb-4 flex flex-wrap gap-1">
          {postsWithImages.slice(0, 9).map(post => (
            <li>
              <a
                href={`/feed/${Astro.props.eventId}#${post.id}`}
                title={post.title}
              >
                <CFImage
                  src={post.picture!}
                  alt={post.title}
                  width={48}
                  ratio={1}
                  class="h-12 w-12 rounded-sm border border-gray-200"
                />
              </a>
            </li>
          ))}
        </ul>
      )}
      <a
        href={`/feed/${Astro.props.eventId}`}
        class="text-xs text-blue-600 hover:underline"
      >
        See all {socialPosts.length} posts
      </a>
    </SidebarSection>
  )
}
