---
import dayjs from 'dayjs'

import BaseLayout from '$layouts/base.astro'
import EventPoster from '$components/eventPoster.astro'
import Head from '$components/head.astro'
import CFImage from '$components/cfImage.astro'

import { getEvents } from '$functions/getEvents'
import { getWebsiteConfig } from '$functions/getWebsiteConfig'
import { upcomingEventsFilter } from '$functions/upcomingEventsFilter'

const now = dayjs()
const events = await getEvents()

const websiteConfig = await getWebsiteConfig()
const upcomingEvents = events.filter(upcomingEventsFilter).reverse()
// const upcomingEvents = events.filter(x => x.name.length < 18)
---

<Head title="Events" />

<BaseLayout class="mx-4 space-y-12 md:mx-8">
  {
    upcomingEvents.length !== 0 && (
      <section>
        <h1 class="text-3xl font-medium uppercase">Upcoming Events</h1>
        <div class="space-y-6 pt-8 md:grid-cols-2 lg:grid lg:gap-y-12 lg:space-y-0">
          {upcomingEvents.map(event => (
            <EventPoster event={event} />
          ))}
        </div>
      </section>
    )
  }
  <section>
    <h1 class="text-3xl font-medium uppercase">Series</h1>
    <div
      class="grid gap-4 pt-8 lg:grid-cols-2 xl:grid-cols-4 [&>*]:p-6 [&>*]:lg:p-8"
    >
      {
        websiteConfig?.events.recurring.map(event => (
          <a class={` bg-neutral-100 hover:bg-neutral-200`} href={event.url}>
            <p class="text-lg font-medium leading-snug lg:text-xl">
              {event.name}
            </p>
            <p class="mt-1 text-sm uppercase">{event.schedule}</p>
          </a>
        ))
      }
    </div>
  </section>
  <section class="pb-12">
    <h1 class="text-3xl font-medium uppercase">Past Events</h1>
    <div class="mt-6 grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-5">
      {
        events
          .filter(event => event.date.isBefore(now))
          .map(event => (
            <a href={`/event/${event.id}`}>
              <CFImage
                src={event.image}
                alt={event.name}
                width={300}
                ratio={1}
                class="w-full"
              />
            </a>
          ))
      }
    </div>
  </section>
</BaseLayout>
