---
import dayjs from 'dayjs'

import BaseLayout from '$layouts/base.astro'
import EventPoster from '$components/eventPoster.astro'
import Head from '$components/head.astro'
import CFImage from '$components/cfImage.astro'

import { getEvents } from '$functions/getEvents'
import { getWebsiteConfig } from '$functions/getWebsiteConfig'
import { upcomingEventsFilter } from '$functions/upcomingEventsFilter'

const now = dayjs()
const events = await getEvents()

const websiteConfig = await getWebsiteConfig()
---

<Head title="Events" />

<BaseLayout class="max-w-7xl mx-auto space-y-12 [&>*]:px-6">
  <section>
    <h1 class="uppercase text-3xl font-medium">Upcoming Events</h1>
    <div
      class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-y-12"
    >
      {
        events
          .filter(upcomingEventsFilter)
          .reverse()
          .map(event => <EventPoster event={event} />)
      }
    </div>
  </section>
  <section>
    <h1 class="uppercase text-3xl font-medium">Series</h1>
    <div class="[&>*]:p-8 [&>*]:rounded-xl grid sm:grid-cols-3 gap-6 pt-8">
      {
        websiteConfig?.events.recurring.map(event => (
          <a class={`bg-white`} href="/wiki/StupidHackTH">
            <p class="font-medium uppercase leading-none">{event.name}</p>
            <p class="uppercase">{event.schedule}</p>
          </a>
        ))
      }
    </div>
  </section>
  <section class="pb-12">
    <h1 class="uppercase text-3xl font-medium">Past Events</h1>
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6 mt-6"
    >
      {
        events
          .filter(event => event.date.isBefore(now))
          .map(event => (
            <a href={`/event/${event.id}`}>
              <CFImage
                src={`https://assets.creatorsgarten.org/events/${event.id}.png`}
                alt={event.name}
                width={300}
                ratio={1}
                class="w-full"
              />
            </a>
          ))
      }
    </div>
  </section>
</BaseLayout>
