---
import { Icon } from 'react-iconify-icon-wrapper'
import MetadataTable from './metadataTable.astro'
import SidebarSection from './sidebarSection.astro'
import WikiContributorList from './contributorList.tsx'

import { stringifyDate } from '$functions/stringifyDate'

import type { Dayjs } from 'dayjs'

export interface Props {
  pageRef: string
  edited: { at: Dayjs; by: string[] }
  editable: boolean
  grtn?: string
}

const { edited, editable, pageRef, grtn } = Astro.props
---

<SidebarSection title="Metadata">
  <MetadataTable>
    <Fragment slot="table">
      <tr>
        <td>UPDATED</td>
        <td>{stringifyDate(edited.at)}</td>
      </tr>
      {
        !!editable && (
          <tr>
            <td>HISTORY</td>
            <td class="group">
              <a
                href={`https://github.com/creatorsgarten/wiki/commits/main/wiki/${pageRef}.md`}
                class="inline-flex items-center"
              >
                <>
                  <span class="mr-1">GitHub</span>
                  <Icon icon="pixelarticons:external-link" />
                </>
              </a>
              <span class="space-x-1 pl-1 opacity-0 focus-within:opacity-100 group-hover:opacity-100">
                <a
                  href={`https://github.com/creatorsgarten/wiki/blob/main/wiki/${pageRef}.md?plain=1`}
                  title="View source"
                >
                  <Icon icon="octicon:file-code-16" inline />
                </a>
              </span>
            </td>
          </tr>
        )
      }
      {
        !!grtn && (
          <tr>
            <td>SHORTCUT</td>
            <td class="group">
              <a
                href={`https://grtn.org/${grtn}`}
                class="inline-flex items-center"
                onclick="
                event.preventDefault(); navigator.clipboard.writeText(this.href);
                "
              >
                <span class="mr-1">grtn.org/{grtn}</span>
                <Icon icon="pixelarticons:copy" />
              </a>
            </td>
          </tr>
        )
      }
    </Fragment>
  </MetadataTable>
  {
    !!editable && (
      <div class="flex flex-col gap-4 pt-4">
        <div class="h-8">
          <WikiContributorList pageRef={pageRef} client:idle />
        </div>
        <a
          href={`/wiki/${pageRef}/editor`}
          data-js="wiki-edit-link"
          class="inline-flex items-center space-x-2"
        >
          <span class="edit">Edit this page</span>
          <Icon icon="pixelarticons:edit" />
        </a>
      </div>
    )
  }
</SidebarSection>
