---
import CFImage from '$components/cfImage.astro'
import Layout from '$layouts/wiki.astro'
import SidebarContentsSection from './sidebarContentsSection.astro'
import SidebarEventSection from './sidebarEventSection.astro'
import SidebarMetadataSection, {
  type Props as MetadataProps,
} from './sidebarMetadataSection.astro'

import dayjs from 'dayjs'

import type { FrontMatter } from '$functions/parseFrontMatter'
import type { ContentsgartenOutput } from '$types/ContentsgartenOutput'
import SidebarPersonSection from './sidebarPersonSection.astro'

export interface Props {
  pageRef: string
  title: string
  headings: NonNullable<ContentsgartenOutput['view']['rendered']>['headings']
  parsedFrontMatter?: FrontMatter
  lastModified?: string
  lastModifiedBy?: string[]
  editable: boolean
}

const {
  pageRef,
  title,
  headings,
  parsedFrontMatter,
  lastModified,
  lastModifiedBy,
  editable,
} = Astro.props

const metadata: MetadataProps = {
  edited: {
    at: dayjs(lastModified),
    by: lastModifiedBy ?? ['SYSTEM'],
  },
  editable,
  pageRef,
  grtn: parsedFrontMatter?.grtn,
}

const coverImage =
  parsedFrontMatter?.image ??
  (parsedFrontMatter?.event
    ? `https://assets.creatorsgarten.org/events/${pageRef.replace(
        'Events/',
        ''
      )}.png`
    : undefined)
---

<Layout title={title}>
  <Fragment slot="sidebar-left">
    {
      !!coverImage && (
        <div class="mb-6 md:mx-0" transition:name={`wiki:section:image`}>
          <CFImage
            src={coverImage}
            class="aspect-square w-full"
            alt="cover image"
            width={{
              max: 360,
            }}
            ratio={1}
            fetchpriority="high"
            transform={{
              quality: 85,
            }}
          />
        </div>
      )
    }
    {
      !!parsedFrontMatter?.event && (
        <SidebarEventSection event={parsedFrontMatter.event} />
      )
    }
    {
      !!parsedFrontMatter?.person && (
        <SidebarPersonSection person={parsedFrontMatter.person} />
      )
    }
  </Fragment>

  <Fragment slot="sidebar-left-less-than-3-columns">
    <SidebarMetadataSection {...metadata} />
    <!-- <SidebarShareSection /> -->
  </Fragment>

  <Fragment slot="sidebar-left-at-least-2-columns">
    <SidebarContentsSection contents={headings} />
  </Fragment>

  <Fragment slot="sidebar-right">
    <SidebarMetadataSection {...metadata} />
    <!-- <SidebarShareSection /> -->
  </Fragment>

  <Fragment slot="sidebar-bottom">
    <SidebarMetadataSection {...metadata} />
    <!-- <SidebarShareSection noBottomBorder /> -->
  </Fragment>

  <slot />
</Layout>
