---
import { Icon } from 'react-iconify-icon-wrapper'
import { stringifyDate } from '$functions/stringifyDate'

import type { Event } from '$functions/getEvents'

export interface Props {
  event: Event
}

const { event } = Astro.props
---

<div class="sm:flex sm:space-x-6 space-y-4 sm:space-y-0">
  <a href={`/event/${event.id}`} class="shrink-0">
    <img
      src={`/images/events/${event.id}.png`}
      class="w-full sm:w-64 aspect-square"
    />
  </a>
  <div class="flex flex-col justify-between">
    <div>
      <a href={`/event/${event.id}`}
        ><h2 class="text-3xl font-medium uppercase pb-1">{event.name}</h2></a
      >
      <p class="text-lg">
        {stringifyDate(event.date)} / {event.location}
      </p>
    </div>
    <div class="mt-4">
      <a
        href={event.link}
        class="rounded-full bg-[#1c1916] py-2 px-4 text-white inline-flex items-center text-base"
        ><span class="mr-2">TICKETS</span><Icon
          icon="pixelarticons:external-link"
        /></a
      >
    </div>
  </div>
</div>
