---
import { contentsgarten } from '$constants/contentsgarten'

export interface Props {
  pageRef: string
  file: {
    path: string
    content: string
    revision?: string | undefined
  }
}

const { pageRef, file } = Astro.props

const editable = Astro.cookies.get('authgarten').value
  ? await contentsgarten(Astro.cookies.get('authgarten').value)
      .getEditPermission.query({
        pageRef,
      })
      .then(o => o.granted)
  : false

const gitHubUrl = `https://github.com/creatorsgarten/wiki/blob/main/wiki/${pageRef}.md`
---

<div class="-mx-6 sm:mx-auto max-w-6xl">
  <div class="px-6 pb-10">
    <h1 class="mb-2 text-3xl">
      Editing <span class="font-medium">{pageRef}</span>
    </h1>
    <div class="prose max-w-full">
      {
        editable ? (
          <p>
            (The editor is quite janky, so please save your changes regularly!)
          </p>
        ) : (
          <p>
            (Editor is locked to read-only mode because you don't have enough
            permissions to edit the page. However,{' '}
            <a href={gitHubUrl}>
              you can propose changes to this file on GitHub.
            </a>
            )
          </p>
        )
      }
    </div>
    <form class="py-4" method="POST">
      <input type="hidden" name="pageRef" value={pageRef} />
      <input type="hidden" name="revision" value={file?.revision} />
      {/* prettier-ignore-start */}
      <textarea
        name="content"
        class={`w-full p-4 font-mono text-sm rounded-xl disabled:cursor-not-allowed ${
          editable ? 'whitespace-pre' : ''
        }`}
        disabled={!editable}
        rows={40}>{file?.content}</textarea
      >
      {/* prettier-ignore-end */}
      <div class="mt-2">
        <button
          class="rounded-lg bg-[#1c1916] px-4 py-2 text-white disabled:bg-neutral-600 disabled:cursor-not-allowed"
          type="submit"
          disabled={!editable}>Save changes</button
        >
      </div>
    </form>
  </div>
</div>
