---
import MetadataTable from './metadataTable.astro'

import { stringifyDate } from '$functions/stringifyDate'

import type { Dayjs } from 'dayjs'
import { Icon } from 'react-iconify-icon-wrapper'
import SidebarSection from './sidebarSection.astro'
import WikiSidebarContentsSection from './wikiSidebarContentsSection.astro'

export interface Props {
  type?: 'event' | 'page'
  pageRef?: string
  events?: {
    id: string
    location: string
    date: {
      from: Dayjs
      to?: Dayjs
    }
    hosts: string[]
    link: string
  }
  contents: {
    id: string
    label: string
  }[]
  metadata: {
    edited: {
      at: Dayjs
      by: string[]
    }
  }
  editable?: boolean
}

const { type, events, contents, metadata, pageRef, editable } = Astro.props
---

{
  type === 'event' && events ? (
    <Fragment>
      <img
        src={`/images/events/${events.id}.png`}
        class="aspect-square w-full"
      />
      <SidebarSection title="Event">
        <MetadataTable
          data={[
            ['LOCATION', events.location ?? ''],
            [
              'DATE',
              [
                `${events.date.to ? 'FROM ' : ''}${stringifyDate(
                  events.date.from
                )}`,
                ...(events.date.to
                  ? [`TO ${stringifyDate(events.date.to)}`]
                  : []),
              ],
            ],
            ['HOST', (events.hosts ?? []).map(o => `[${o}]`).join(' ')],
          ]}
        >
          <tr slot="table">
            <td>LINK</td>
            <td>
              {events.link && (
                <a
                  href={events.link}
                  class="inline-flex items-center break-all"
                >
                  <>
                    <span class="mr-1">{new URL(events.link).host}</span>
                    <Icon icon="pixelarticons:external-link" />
                  </>
                </a>
              )}
            </td>
          </tr>
        </MetadataTable>
      </SidebarSection>
    </Fragment>
  ) : null
}
{
  contents.length > 0 && (
    <div class="2xl:hidden">
      <WikiSidebarContentsSection contents={contents} />
    </div>
  )
}
<SidebarSection title="Metadata">
  <MetadataTable>
    <Fragment slot="table">
      <tr>
        <td>EDIT</td>
        <td
          ><span>{stringifyDate(metadata.edited.at)}</span> / <span
            class="space-x-1"
            >{
              metadata.edited.by.map(user => (
                <a href={`https://github.com/${user}`}>@{user}</a>
              ))
            }</span
          >
        </td>
      </tr>
      {
        !!editable && (
          <tr>
            <td>HISTORY</td>
            <td>
              <a
                href={`https://github.com/creatorsgarten/wiki/commits/main/wiki/${pageRef}.md`}
                class="inline-flex items-center"
              >
                <>
                  <span class="mr-1">GitHub</span>
                  <Icon icon="pixelarticons:external-link" />
                </>
              </a>
            </td>
          </tr>
        )
      }
    </Fragment>
  </MetadataTable>
  {
    !!editable && (
      <div class="flex justify-center pt-4">
        <a
          href={`/wiki/${pageRef}/editor`}
          class="inline-flex items-center space-x-2"
        >
          <span>Edit this page</span>
          <Icon icon="pixelarticons:edit" />
        </a>
      </div>
    )
  }
</SidebarSection>
<SidebarSection title="Share">
  <div class="flex justify-center space-x-4">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href={`https://twitter.com/intent/tweet?${new URLSearchParams({
        url: Astro.url.toString(),
        text: 'Check this',
        via: 'Creatorsgarten',
      }).toString()}`}
      aria-label="Share to Twitter"
    >
      <Icon icon="mdi:twitter" width={24} />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href={`https://www.facebook.com/dialog/share?${new URLSearchParams({
        app_id: '2314627122104275',
        href: Astro.url.toString(),
        feature: 'share',
        display: 'popup',
      }).toString()}`}
      aria-label="Share to Facebook"
    >
      <Icon icon="mdi:facebook" width={24} />
    </a>
  </div>
</SidebarSection>
